body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    letter-spacing: -0.5px;
    line-height: 1.5;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: normal;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: bold;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.game {
    display: flex;
    flex-direction: row;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.top-banner {
    width: 100%;
    height: 240px;
    background: #222;
    padding: 10px 0;
    text-align: center;
    line-height: 100%;
}

.survey {
    width: 92%;
    padding: 60px 0 0;
    box-sizing: border-box;
    max-width: 1024px;
    margin: 0 auto;
}

#artsurvey_footer>img:nth-child(2) {
    display: none;
}

.survey_bar {
    position: relative;
    width: 100%;
    height: 32px;
    line-height: 32px;
    background: #eaeaea;
    color: #544bf0;
    border-radius: 16px;
    font-size: 12px;
}

.survey_steps {
    width: 8%;
    text-align: center;
    padding-right: 0;
}

.survey_steps {
    border-radius: 16px;
    height: 32px;
    line-height: 32px;
    padding-right: 15px;
    text-align: left;
    padding-left: 0;
    background: #544bf0;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    text-align: right;
}

.survey_percent {
    position: absolute;
    line-height: 32px;
    font-size: 12px;
    top: 0;
    right: 22px;
    height: 100%;
}

.survey_q {
    margin: 40px 0 20px;
    font-weight: bold;
}

.survey_q>b {
    color: #544bf0;
}

.survey_q>span {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 2;
    vertical-align: bottom;
    font-size: 12px;
    font-weight: 300;
}

.survey_radio.color_survey {
    width: 16%;
    display: inline-block;
    vertical-align: top;
}

.survey_radio_btn {
    display: block;
    margin-bottom: 5px;
}

.survey_radio.color_survey .survey_radio_btn label {
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    padding: 0 12px;
    text-align: center;
    border-radius: 16px;
    display: inline-block;
}

.survey_radio label {
    cursor: pointer;
    position: relative;
    margin-left: 22px;
}

.policy_checkbox:checked+label:after {
    background: #544bf0;
}

.survey_radio label:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    left: -22px;
    border: 0;
    border-radius: 50%;
    background-color: #eee;
}

.survey_radio label:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    left: -20px;
    background-color: #eee;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.survey_radio input {
    display: none;
}

.survey_next_prev {
    margin-top: 20px;
}

.survey_next_prev.artwork_checked_step {
    margin-top: 35px;
}

.survey_prev {
    font-weight: bold;
    width: 60px;
    height: 24px;
    line-height: 1.5;
    border-radius: 16px;
    border: 1px solid #544bf0;
    text-align: center;
    font-size: 12px;
    margin-right: 8px;
    color: #544bf0;
    background: #fff;
}

.survey_prev.first_step,
.survey_next.first_step {
    cursor: default;
    color: #d8d8d8;
    border: 1px solid #d8d8d8;
}

.survey_next {
    font-weight: bold;
    width: 60px;
    height: 24px;
    line-height: 1.5;
    border-radius: 16px;
    border: 1px solid #544bf0;
    text-align: center;
    font-size: 12px;
    color: #544bf0;
    background: #fff;
}

.survey_artworks {
    position: relative;
    display: inline-block;
    width: 17.4%;
    margin-right: 3.25%;
    margin-bottom: 3.25%;
}

.survey_artworks:nth-child(5),
.survey_artworks:nth-child(10),
.survey_artworks:nth-child(15) {
    margin-right: 0;
}

.survey_artworks:nth-child(n + 11) {
    margin-bottom: 0;
}

.survey_artworks .survey_artworks_mask {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(84, 75, 240, 0.85);
    width: 100%;
    height: 100%;
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    display: none;
}

.survey_artworks .survey_artworks_mask.checked {
    display: block;
}

.survey_artworks .survey_artworks_mask>span {
    line-height: 1;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.survey_artworks .survey_artworks_mask>span>img {
    width: 10px;
    height: 10px;
    line-height: 15px;
    vertical-align: top;
}

.survey_artworks input {
    display: none;
}